<div *ngIf="app.icon_url !== 'Error';else errorBlock" class="card mt-4" style="width: 18rem;">
    <img [src]="app.icon_url" class="card-img-top" alt="image">
  
    <div class="card-body">
      <h2 class="card-text">{{app.app_name}}</h2>
      <p class="card-text">{{app.publisher_name}}</p>
      <p class="card-text">{{app.all_rating}}</p>
    </div>
</div>

<ng-template #errorBlock>
  <div class="error-card">
    <h2>Error Message</h2>
    <p>Something went wrong with app_id: {{app.id}}</p>
  </div>
  
</ng-template>
